<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <center>
    <h1>hello</h1>
    <button><a href="C:\Users\user\Documents\kk\Ejs traning\views\home.ejs">home</a></button> <br>
    <button>about</button>
</center>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maxime libero facilis eaque culpa iure consectetur reprehenderit vitae alias provident. Optio sapiente, inventore veniam animi hic mollitia aut dolorem, consectetur, corrupti quas consequuntur quod atque odit sunt rem soluta nobis voluptas cupiditate rerum ducimus. Illum accusamus praesentium ratione adipisci ut dolores amet rerum, veniam alias consectetur nesciunt expedita vitae soluta corrupti aliquid sequi! Modi natus est similique, repellat incidunt sapiente aliquam, quasi nisi ea exercitationem pariatur tempore fugit odit dolorem expedita quis a! Accusamus ullam nisi adipisci nostrum iusto non placeat numquam libero eaque et minima reprehenderit repellat porro ea natus hic neque, rem inventore, odit mollitia. Maxime, mollitia quam libero nisi consectetur soluta repellendus tempore nesciunt necessitatibus, aliquam aperiam unde aliquid accusantium perspiciatis deserunt voluptates adipisci eius explicabo excepturi magnam corrupti. Alias nobis totam, harum tempore sit odio animi nam facilis eligendi maxime saepe? Eos suscipit veniam, quibusdam velit rem harum at, unde illum recusandae adipisci vero voluptate quod omnis natus impedit repellat sed reiciendis accusantium, doloremque sit repudiandae dolor. Dignissimos iusto, quasi vel quod tempore sed incidunt numquam distinctio possimus, et reprehenderit aliquam! Placeat corporis officiis tempore rerum tenetur quidem nostrum, porro quia doloribus asperiores perferendis, est ducimus?
</body>
</html>